.container {
  max-width: 29.688rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100vh;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.search-button {
  background-color: #6610f2;
  border: none;
  color: white;
  height: 1.875rem;
  width: 5.625rem;
  border-radius: 5px;
  font-size: 0.75rem;
}

.home-page-font-size {
  font-size: 1rem;
}

.column-half {
  width: 50%;
}

.result-title-size {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.result-info-size {
  font-size: 0.625rem;
}

.star-size {
  font-size: 0.75rem;
}

.select-theme {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50%;
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  color: #6610f2;
}

.input-theme::placeholder {
  color: #6610f2;
  font-size: 1rem;
  font-family: "Abril Fatface", cursive;
}

.column-two-thirds {
  width: 50%;
  padding-left: 1rem;
}

.column-one-third {
  width: 50%;
}

.row-column-responsive {
  flex-direction: column;
}

.input-theme {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50%;
  font-family: "Abril Fatface", cursive;
  color: #6610f2;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    height: 100vh;
  }

  .search-button {
    background-color: #6610f2;
    border: none;
    color: white;
    height: 3.125rem;
    width: 6.875rem;
    border-radius: 5px;
    font-size: 1.063rem;
  }

  .home-page-font-size {
    font-size: 1.563rem;
  }

  .star-size {
    font-size: 1.125rem;
  }

  .column-two-thirds {
    width: calc(200% / 3);
  }

  .column-one-third {
    width: calc(100% / 3);
  }

  .row-column-responsive {
    display: flex;
  }
}

@media screen and (min-width: 805px) {
  .container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    height: 100vh;
  }

  .search-button {
    background-color: #6610f2;
    border: none;
    color: white;
    height: 3.125rem;
    width: 6.875rem;
    border-radius: 5px;
    font-size: 1.25rem;
  }

  .home-page-font-size {
    font-size: 3.125rem;
  }

  .result-title-size {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
  }

  .result-info-size {
    font-size: 1rem;
  }

  .star-size {
    font-size: 1.563rem;
  }

  .select-theme {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50%;
    font-family: "Abril Fatface", cursive;
    font-size: 1.563rem;
    color: #6610f2;
  }

  .input-theme::placeholder {
    color: #6610f2;
    font-size: 1.563rem;
    font-family: "Abril Fatface", cursive;
  }

  .column-two-thirds {
    width: calc(200% / 3);
  }

  .column-one-third {
    width: calc(100% / 3);
  }

  .row-column-responsive {
    display: flex;
    flex-direction: unset;
  }

  .input-theme {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50%;
    font-family: "Abril Fatface", cursive;
    color: #6610f2;
    font-size: 1.563rem;
  }
}
