.container {
  max-width: 475px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}
