.font-theme {
  font-family: "Abril Fatface", cursive;
}

.align-center {
  align-items: center;
}

.white-text {
  color: white;
}

.justify-space-between {
  justify-content: space-between;
}

.purple-background {
  background-color: #6610f2;
}

.justify-end {
  justify-content: end;
}

.heading {
  font-size: 25px;
}

.navbar {
  height: 80px;
}

.align-self-center {
  align-self: center;
}

.shadow {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.103);
}

.padding-right {
  padding-right: 15px;
}
