.font-theme {
  font-family: "Abril Fatface", cursive;
}

.align-center {
  align-items: center;
}

.white-text {
  color: white;
}

.justify-space-between {
  justify-content: space-between;
}

.purple-background {
  background-color: #6610f2;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.heading {
  font-size: 25px;
}

.navbar {
  height: 80px;
}

.align-self-center {
  align-self: center;
}

.shadow {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.103);
}

.padding-right {
  padding-right: 15px;
}

.center-of-page {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.padding-top {
  padding-top: 15px;
}

textarea:focus,
input:focus {
  outline: none;
}

.vh-height {
  height: 100vh;
}

.logo {
  height: 47px;
}

a {
  text-decoration: none;
  color: white;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.restaurant-info {
  margin: 0;
}

.margin-top {
  margin-top: 50px;
}

.no-borders {
  border: 0;
}

.font-size-15 {
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.result-image {
  max-width: 65%;
}

.select-theme {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50%;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #6610f2;
}

.input-theme {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50%;
  font-family: "Abril Fatface", cursive;
  font-size: 23px;
  color: #6610f2;
}
