.font-theme {
  font-family: "Abril Fatface", cursive;
}

.align-center {
  align-items: center;
}

.white-text {
  color: white;
}

.justify-space-between {
  justify-content: space-between;
}

.purple-background {
  background-color: #6610f2;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.heading {
  font-size: 1.563rem;
}

.navbar {
  height: 5rem;
}

.align-self-center {
  align-self: center;
}

.shadow {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.103);
}

.padding-right {
  padding-right: 0.938rem;
}

.center-of-page {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.padding-top {
  padding-top: 0.938rem;
}

textarea:focus,
input:focus {
  outline: none;
}

.vh-height {
  height: 100vh;
}

.logo {
  height: 2.938rem;
}

a {
  text-decoration: none;
  color: white;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.restaurant-info {
  margin: 0;
}

.margin-top {
  margin-top: 3.125rem;
}

.margin-bottom {
  margin-bottom: 3.125rem;
}

.no-borders {
  border: 0;
}

.font-size-16 {
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.result-image {
  max-width: 100%;
  max-height: 12.5rem;
}

.direction-column {
  flex-direction: column;
}

.width-accordion {
  width: 100%;
}

.border-bottom {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  border-color: #6610f2;
}

.review-image {
  width: 50%;
  max-height: 7.813rem;
}

.accordion-padding-top {
  padding-top: 1.875rem;
}

.theme-color {
  color: #6610f2;
}

.border-radius {
  border-radius: 5px;
}

.twilio-button-height {
  height: 2.625rem;
  min-width: 7.5rem;
}

.margin-top-modal-button {
  margin-top: 0.313rem;
}

.background-overlay {
  background-color: #1d1c1ca6;
  width: 100vw;
  height: 100vh;
}

.position-fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.border-bottom-grey {
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: rgb(131, 131, 131);
}

.padding-bottom {
  padding-bottom: 0.938rem;
}

.modal-input {
  width: 80%;
}

.send-button {
  width: 25%;
  height: 2.188rem;
}

.modal {
  position: fixed;
  background-color: white;
  height: 10.625rem;
  width: 16.688rem;
  left: 0;
  right: 0;
  margin: auto;
}

.margin-left {
  margin-left: 0.938rem;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.twilio-input {
  margin-left: 0.188rem;
  margin-right: 0.188rem;
}

.align-flex-end {
  align-items: flex-end;
}

.result-image-container {
  width: 100%;
  height: 100%;
}

.align-items-end {
  align-items: flex-end;
}

.home-page-form {
  width: 80%;
}

.margin-bottom-10 {
  margin-bottom: 0.625rem;
}

.margin-top-10 {
  margin-top: 0.625rem;
}

.sad-cookie-image {
  height: 10.25rem;
  width: 10.25rem;
}

.font-size-30 {
  font-size: 1.875rem;
}

.sign-up-button {
  background-color: #6610f2;
  border: none;
  color: white;
  height: 2.5rem;
  width: 8.125rem;
  border-radius: 5px;
  font-size: 0.75rem;
}

.sign-in-up {
  color: blue;
  cursor: pointer;
}

.padding-bottom-100 {
  padding-bottom: 6.25rem;
}

/* Loading spinner */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6610f2;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
